body {
    background: linear-gradient(rgba(50, 213, 238, 0.663), rgba(40, 169, 255, 0.4));
    font-size: 1.15em;
    text-align: justify;
    font-family:"Lato" sans-serif;
}

input, textarea {
    display: block;
    border-radius: 10px;
    margin: 10px;
}


#title {
    color: #7d6505;
    font-family: "Sarabun", sans-serif;
}

.subtitle {
    color: #b59830;
    font-family: "Sarabun", sans-serif;
}

#service-image {
    /* background: linear-gradient(215deg,rgb(142, 11, 236 ), rgba(142, 11, 236,0)); */
    background: radial-gradient(circle,rgb(255, 2, 2) 20%, rgb(0, 25, 251), green 200px);
    height: 400px;
    width: 70vw;
    background-size:cover;
    border: 5px solid #430b41;
    border-radius: 50px;
    margin-top: 10px;
}
.link {
    text-decoration: none;
    float: right;
}
.italics {
    font-style: italic;
}
#about-us-image {
    height: 300px;
    width: 60vw;
    border: 6px solid #191919;
    margin: 0 20px;
    float: right;
}
.site-table {
    display: inline-block;
}
.container {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 300px;
    padding: 15px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-item {
    background-color: #00ffff;
    color: black;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}
.grid-container {
    background-color: #fff;
    border-radius: 30px;
    height: 500px;
    padding: 15px;
    margin: 5px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* justify-content: space-around;
    align-content: end;*/
}
.grid-item {
    color: #000000;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}

#contact-us {
    color: #caa100;
    font-family: "Lato", sans-serif;

}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #025fff;
    border-radius: 15px;
    transform: matrix(1, 0.45, 0.45, 1, 100, 50);
    -webkit-transition: background, padding 500ms ease;
    -moz-transition: background, padding 500ms ease;
    -o-transition: background, padding 500ms ease;
}
.submit-button:hover {
    background: #4cb1ff;
    padding: 20px 30px;
}

#about-me {
    /* animation-name: red-to-black;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse; */

    -webkit-animation: red-to-black 4s linear 0s 2 alternate-reverse;
    -moz-animation: red-to-black 4s linear 0s 2 alternate-reverse;
    -ms-animation: red-to-black 4s linear 0s 2 alternate-reverse;
    -o-animation: red-to-black 4s linear 0s 2 alternate-reverse;
}

@keyframes red-to-black {

    0% {
        background: rgb(0, 47, 255);
        transform: translate(0px, 0px);
    }

    50% {
        background: rgb(0, 123, 255);
        transform: translate(10px, 10px);
    }

    100% {
        background: rgba(0, 255, 255, 0.848);
        transform: translate(20px, 20px);
    }

}